<%- include('partials/header.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="Location" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>